* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.login_page {
    width: 500px;
    height: 400px;
    position: absolute;
    font-family: Roboto, sans-serif;
    background-color: rgba(163, 205, 248, 0.7);
    border-radius: 10px;
    top: 50%;
    transform: translate(78%, -35%);
    padding: 40px;
    box-sizing: border-box;
}

.login_page img {
    width: 190px;
    height: 190px;
    margin-top: -130px;
    margin-bottom: 30px;
    margin-left: 125px;
}

.login_page .login_form {
    position: relative;
    margin-top: -20px;
}

.login_page .login_form input {
    width: 100%;
    padding: 15px 0;
    padding-bottom: 8px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
    border: none;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login_page .login_form label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    font-size: 22px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login_page .login_form input:focus~label,
.login_page .login_form input:valid~label {
    top: -20px;
    left: 0;
    color: #1178a8;
    font-size: 15px;
}

.login_page input[type="submit"] {
    background: #f16272;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
    margin-top: 5px;
}

.login_page input[type="submit"]:hover {
    background: #f13349;
}

.form_footer {
    font-size: 1.11em;
    padding: 2em 0;
    text-align: center;
}

.form_footer a {
    color: #585555;
    text-decoration: none;
    transition: border-color 0.3s;
}

.form_footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
}